* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "My-Font";
    src: url(./Assets/Fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

ul>li {
    display: inline-block;
    padding: 30px 25px 0 0;
    background-color: rgba(255, 255, 255, 0);
}

li {
    background-color: rgba(255, 255, 255, 0);
    font-family: "My-Font";
}

ul {
    background-color: rgba(255, 255, 255, 0);
}

li:hover {
    cursor: pointer;
    color: rgb(26, 128, 0);
    transition: 0.5;

}

.mainImage {
    height: 25px;
    width: 90px;
}

.NavBar {
    margin-left: 40px;
    background-color: rgba(255, 255, 255, 0);

}

.login {
    position: absolute;
    margin-left: 1150px;
    margin-Top: -15px;
    font-family: "My-Font";
}

.login:hover {
    cursor: pointer;
}

.Content {
    padding-top: 100px;
}

.NavDiv {

    position: sticky;
    top: 0;
    background-color: white;
    height: 80px;
    z-index: 4;

}

.Button1 {
    border-radius: 6px;
    padding: 0 2px;
    border-color: white;
    position: absolute;
    margin-left: 1200px;
    margin-Top: -17px;
    background-color: rgba(79, 196, 79, 0.979);
    width: 75px;
    height: 25px;
    color: white;
    font-family: "My-Font";
}

.Button1:hover {
    cursor: pointer;
    background-color: rgb(42, 78, 33);
    transition: 0.5;
    color: white;
}

.DivS {
    padding-top: 50px;
    padding-left: 80px;
}

.BigImg {
    width: 1180px;
    height: 500px;
    border-radius: 15px;
}

h1 {
    color: white;
    position: absolute;

    font-size: 50px;
    padding-left: 40px;
    margin-top: -440px;

    font-family: "My-Font";
}



#Box2 {
    color: black;
    padding-top: 340px;
    font-family: "My-Font";
    font-size: 45px;
    padding-left: 570px;
    padding-top: 350px;
}



.JoinUs {

    height: 350px;
    width: 500px;

    position: relative;
    top: -410px;
    background-color: white;
}

.JoinImg {
    height: 410px;
    width: 500px;
}

.Line1Heading {

    padding-left: 600px;
    font-family: "My-Font";
    font-size: 20px;
    font-weight: bold;
}

.Line1Det {
    padding-left: 600px;
    font-family: "My-Font";
    font-weight: light;

}

.Line2Heading {
    padding-top: 30px;
    padding-left: 600px;
    font-family: "My-Font";
    font-size: 20px;
    font-weight: bold;

}

.Line2Det {
    padding-left: 600px;
    font-family: "My-Font";
    font-weight: light;
}

.Line3Heading {
    padding-top: 30px;
    padding-left: 600px;
    font-family: "My-Font";
    font-size: 20px;
    font-weight: bold;

}


.Line3Det {
    padding-left: 600px;
    font-family: "My-Font";
    font-weight: light;
}

.Edit1 {
    position: relative;
    left: 550px;
    top: 30px;
}

.Edit2 {
    position: relative;
    left: 550px;
    top: 35px;
}

.Edit3 {
    position: relative;
    left: 550px;
    top: 35px;
}

.Box2 {

    position: relative;
    top: -100px;
}

.Button2 {
    background-color: rgba(0, 128, 0, 0.87);
    color: white;
    border: white;
    border-radius: 10px;
    font-size: 18px;
    height: 35px;
    width: 180px;
    position: relative;
    top: -400px;
    left: 550px;
    font-family: "My-Font";

}

.Button3 {
    background-color: white;
    color: green;
    border: green 1px solid;
    border-radius: 10px;
    font-size: 18px;
    height: 35px;
    width: 180px;
    position: relative;
    top: -400px;
    left: 565px;
    font-family: "My-Font";
}

.Button2:hover {
    background-color: rgb(8, 218, 8);
    color: white;
    border: white;
    cursor: pointer;

}

.Button3:hover {
    background-color: white;
    color: rgb(52, 199, 52);
    border: rgb(52, 199, 52) 1px solid;
    cursor: pointer;
}

.Pg2Heading {
    color: black;
    padding-top: 100px;
    position: relative;
    right: 38px;
    font-weight: 500;
    font-family: "My-Font";
    font-size: 40px;
}

.Pg2Heading2 {
    font-weight: 400;
}

.Link2 {
    color: rgba(0, 128, 0, 0.671);
}

.Link2:hover {
    cursor: pointer;
}

.Card1 {
    border: 1px solid rgba(231, 241, 224, 0.267);
    height: 150px;
    width: 300px;
    border-radius: 15px;

    background-color: rgba(231, 241, 224, 0.267)
}

.Card2 {
    border: 1px solid rgba(231, 241, 224, 0.267);
    height: 150px;
    width: 300px;
    border-radius: 15px;
    background-color: rgba(231, 241, 224, 0.267);
    margin-left: 330px;
    margin-top: -150px;

}

.Card3 {
    border: 1px solid rgba(231, 241, 224, 0.267);
    height: 150px;
    width: 300px;
    border-radius: 15px;
    background-color: rgba(231, 241, 224, 0.267);
    margin-left: 660px;
    margin-top: -150px;
}

.Card4 {
    border: 1px solid rgba(231, 241, 224, 0.267);
    height: 150px;
    width: 300px;
    border-radius: 15px;
    background-color: rgba(231, 241, 224, 0.267);
    margin-left: 990px;
    margin-top: -150px;
}

.Card5 {
    border: 1px solid rgba(231, 241, 224, 0.267);
    height: 150px;
    width: 300px;
    border-radius: 15px;
    background-color: rgba(231, 241, 224, 0.267);
    margin-top: 40px;
}

.Card6 {
    border: 1px solid rgba(231, 241, 224, 0.267);
    height: 150px;
    width: 300px;
    border-radius: 15px;
    background-color: rgba(231, 241, 224, 0.267);
    margin-left: 330px;
    margin-top: -150px;
}

.Card7 {
    border: 1px solid rgba(231, 241, 224, 0.267);
    height: 150px;
    width: 300px;
    border-radius: 15px;
    background-color: rgba(231, 241, 224, 0.267);
    margin-left: 660px;
    margin-top: -150px;
}

.Card8 {
    border: 1px solid rgba(231, 241, 224, 0.267);
    height: 150px;
    width: 300px;
    border-radius: 15px;
    background-color: rgba(231, 241, 224, 0.267);
    margin-left: 990px;
    margin-top: -150px;
}

.Card {
    padding-left: 40px;
    padding-top: 20px;
    font-family: "My-Font";
    font-size: 26px;
    font-weight: 450;
}

.H3Card {
    padding-left: 40px;
    padding-top: 20px;
    font-family: "My-Font";
    font-size: 16px;
    font-weight: 450;
}

.Card1:hover {
    cursor: pointer;
    background-color: rgba(231, 241, 224, 0.664);
}

.Card2:hover {
    cursor: pointer;
    background-color: rgba(231, 241, 224, 0.664);
}

.Card3:hover {
    cursor: pointer;
    background-color: rgba(231, 241, 224, 0.664);
}

.Card4:hover {
    cursor: pointer;
    background-color: rgba(231, 241, 224, 0.664);
}

.Card5:hover {
    cursor: pointer;
    background-color: rgba(231, 241, 224, 0.664);
}

.Card6:hover {
    cursor: pointer;
    background-color: rgba(231, 241, 224, 0.664);
}

.Card7:hover {
    cursor: pointer;
    background-color: rgba(231, 241, 224, 0.664);
}

.Card8:hover {
    cursor: pointer;
    background-color: rgba(231, 241, 224, 0.664);
}

@font-face {
    font-family: "My-Font";
    src: url("./Assets/Fonts/Arvo/Arvo-Regular.ttf");
}

.MainDiv {
    background-color: gray;
    height: 600px;
    width: 600px;
}

.blackDiv {
    height: 200px;
    width: 530px;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 1%, rgba(69, 33, 33, 1) 100%);

    position: relative;
    top: -250px;
    left: 20px;
    border-radius: 15px;


    .Btn1 {
        position: relative;
        left: 40px;
        height: 20px;
        width: 220px;
        top: 30px;
        border-radius: 10px;
        border: 1.5px solid white;
        z-index: 1;
        color: white;
        background-color: gray;
        font-family: "My-Font";
        font-size: 9px;

    }

    .Btn2 {
        position: relative;
        top: 30px;
        height: 22px;
        width: 250px;
        left: -10px;
        border-radius: 10px;
        border: 1.5px solid rgba(0, 0, 0, 0.479);
        color: white;
        background-color: gray;
        font-family: "My-Font";
        font-size: 9px;
    }

    .Btn1:hover {
        cursor: pointer;
    }

    .Btn2:hover {
        cursor: pointer;
    }

    .Srch {
        position: relative;
        top: 60px;
        left: 40px;
        height: 22px;
        width: 400px;
        border-radius: 10px;
        border: none;
        padding-left: 20px;
        font-family: "My-Font";
        font-size: 11px;
        z-index: 1;

    }

    .InputBlack {
        position: relative;
    }

    .InputBlack button i {

        color: limegreen;
    }

    .InputBlack button {
        background-color: black;
        height: 19.5px;
        ;
        width: 80px;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
        top: 61px;
        left: -50px;
        z-index: 1;
    }

    .Microsoft {
        position: relative;
        top: 90px;
        left: 45px;
        height: 20px;
        width: 80px;
    }

    .airbnb {
        position: relative;
        top: 90px;
        left: 90px;
        height: 20px;
        width: 80px;
    }

    .bisell {
        position: relative;
        top: 90px;
        left: 120px;
        height: 20px;
        width: 40px;
    }

    .glassdoor {
        position: relative;
        top: 90px;
        left: 160px;
        height: 20px;
        width: 80px;
    }

    .InputBlack button:hover {
        cursor: pointer;
    }