* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "My-Font";
    src: url(./Assets/Fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

ul>li {
    display: inline-block;
    padding: 30px 25px 0 0;
    background-color: rgba(255, 255, 255, 0);
}

li {
    background-color: rgba(255, 255, 255, 0);
    font-family: "My-Font";
}

ul {
    background-color: rgba(255, 255, 255, 0);
}

li:hover {
    cursor: pointer;
    color: rgb(26, 128, 0);
    transition: 0.5;

}

.mainImage {
    height: 25px;
    width: 90px;
}

.NavBar {
    margin-left: 40px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
}

.login {
    position: absolute;
    margin-left: 1150px;
    margin-Top: -15px;
    font-family: "My-Font";
}

.login:hover {
    cursor: pointer;
}

.Content {
    padding-top: 100px;
}

.NavDiv {

    position: sticky;
    top: 0;
    background-color: white;
    height: 80px;

}

.Button1 {
    border-radius: 6px;
    padding: 0 2px;
    border-color: white;
    position: absolute;
    margin-left: 1200px;
    margin-Top: -17px;
    background-color: rgba(79, 196, 79, 0.979);
    width: 75px;
    height: 25px;
    color: white;
    font-family: "My-Font";
}

.Button1:hover {
    cursor: pointer;
    background-color: rgb(42, 78, 33);
    transition: 0.5;
    color: white;
}

.DivS {
    padding-top: 50px;
    padding-left: 80px;
}

.BigImg {
    width: 1100px;
    height: 500px;
    border-radius: 15px;
}

h1 {
    color: white;
    position: absolute;
    font-size: 60px;
    padding-left: 40px;
    margin-top: -470px;
    font-family: "My-Font";
}

.BlackDiv {
    border: 2px solid black;
    height: 200px;
    width: 600px;
    border-radius: 15px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.781);
    margin-left: 30px;
    bottom: 128px;
}
#Box2 {
    color: black;
padding-top: 600px;
font-family: "My-Font";
font-size: 40px;
padding-left: 500px;
}

